<div class="container" style="width: 450px; padding-top: 30px;">
    <div class="text-center"><img src="../../../assets/user.png" height="70px" width="100px" alt="user-log"></div>
    <h2 class="text-center"> User Login</h2>
    
    <form style="margin-top: 30px;" #signin="ngForm" (ngSubmit)="onSubmitSignin()">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="User Name" id="userName"name="userName" ngModel style="height: 50px;">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password" id="password"name="password" ngModel style="height: 50px;" autocomplete="off">
        </div>
        <button mat-raised-button style="height: 50px;" type="submit" class="w-100 bg-primary text-white">Submit</button>
    </form>
    <div class="text-center mt-2">
        <span class="text-white me-3" style="text-decoration: underline;">Forgotten account?</span>
        <span class="text-white" style="text-decoration: underline;" routerLink="signup"><a>Sign up as user</a></span>
    </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
